.idea/
build
vendor/
release
.env
.vscode
.phpunit.result.cache
*.iml
fonts/
tests/build
tests/old
tests/data-old

/library/tfpdf/font/unifont/dejavusans*.php
/library/tfpdf/font/unifont/dejavuserif*.php

