<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix=".php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix=".php">./tests/Feature</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="DEBUG" value="0"/>
    <env name="TRACK_FAILED" value="1"/>
    <env name="FAILED_SCREENSHOTS" value="0"/>
    <env name="SCREENSHOTS" value="0"/>
    <env name="RESULT_WRITE" value="0"/>
  </php>
</phpunit>
